/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* General */

:root {
    --red-color: #e6563b;
    --orange-color: #eb9d3a;
    --green-color: #7cb06c;
    --turquoise-color: #00aba9;
    --light-grey-color: #f0f0f0;
    --grey-color: #e6e6e6;
    --primary-text: 'Anton', sans-serif;
    --secondary-text: 'Abel', sans-serif;
}

body {
    font-family: var(--secondary-text);
    background-color: var(--light-grey-color);
}

.navbar-custom-bg {
    background-color: var(--light-grey-color);
}

.border-color-gray {
    color: var(--grey-color);
}

.page-title {
    margin-right: 1em;
}

h1,
h2,
h3 {
    font-family: var(--primary-text);
}

.logo {
    width: 50px;
    height: 50px;
}

.last-img {
    max-width: 75px;
    max-height: 75px;
}

/* Circle Icons */

.circle {
    width: 105px;
    height: 105px;
    line-height: 90px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    border: solid #fff 5px;
}

.red-bg {
    background-color: var(--red-color)
}

.orange-bg {
    background-color: var(--orange-color)
}

.green-bg {
    background-color: var(--green-color)
}

.turquoise-bg {
    background-color: var(--turquoise-color)
}